<launch>
 
  <arg name="run_node_A" default="false" />

  
  <node if="$(arg run_node_A)" pkg="beginner_tutorials" type="safe_zone_vel_publisherv2" name="safe_zone_vel_publisher_node" output="screen" />

  <node unless="$(arg run_node_A)" pkg="beginner_tutorials" type="smart_turtle" name="smart_turtle_node" output="screen" />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim"
  />
</launch>
